.restrict-select {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.restrict-interact {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.restrict-text-overflow {
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    white-space: nowrap;
}